@use "./colors";
@use "./general";
@import "./main";

.user__login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user_login--icon {
  width: 115px;
  height: 115px;
  border: 1px solid colors.$primary;
  border-radius: 50%;
  padding: 20px;
}

.user__login--form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

@mixin inputFields($borderColor: colors.$borderLine) {
  border: 1px solid $borderColor;
  border-radius: 10px;
  background-size: 13px;
  background-position: right 10px top 11px;
  padding: 13px 40px;
}

.user__login--form-username {
  background: url(../assets/user-input-icon.svg) no-repeat;
  @include inputFields;
}

.user__login--form-password {
  background: url(../assets/password-input-icon.svg) no-repeat;
  @include inputFields;
}

.user__login--form--btn {
  @include general.button;
  margin: 24px 45px 0 45px;
}
