@use "./general";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  // color: colors.$color-secondary-dark;
  line-height: 1.5;

  font-family: general.$primary-font;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logoSpiner {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 130px;
    animation: logoSpin 2s infinite linear;
  }

  @keyframes logoSpin {
    100% {
      transform: rotate(360deg);
    }
  }
}
