@use "./colors";
@use "./general";

.waiterViewTables {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  gap: 20px;
  justify-content: center;
  margin: 30px 4px;

  // for the new layout
  // font-size: 10px;
  // grid-template-columns: repeat(auto-fill, 70px);

  ul {
    display: grid;
    gap: 20px;

    li {
      border: 1px solid colors.$borderLine;
      border-radius: 20px;
      padding: 25px 10px;
      text-align: center;
      word-wrap: break-word;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      transition: general.$transition;

      // for the new layout
      // padding: 10px 5px;

      &:hover {
        border: 1px solid colors.$primary;
      }

      &:active {
        transform: translateY(-5px);
      }
    }
  }
}

//just for testing

// .tableStatusId1 {
//   border: 1px solid greenyellow !important;

//   &::before {
//     content: "available";
//     color: greenyellow;
//   }
// }
// .tableStatusId2 {
//   border: 1px solid red !important;

//   &::before {
//     content: "occupied";
//     color: red;
//   }
// }

// .tableStatusId3 {
//   border: 1px solid blue !important;

//   &::before {
//     content: "reserved";
//     color: blue;
//   }
// }

// .tableStatusId4 {
//   border: 1px solid rgb(123, 123, 174) !important;

//   &::before {
//     content: "requested";
//     color: rgb(123, 123, 174);
//   }
// }
