@use "./colors";
@use "./general";

.waiterViewTables {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  gap: 20px;
  justify-content: center;
  margin: 30px 4px;

  // for the new layout
  // font-size: 10px;
  // grid-template-columns: repeat(auto-fill, 70px);

  ul {
    display: grid;
    gap: 20px;

    li {
      border: 1px solid colors.$borderLine;
      border-radius: 20px;
      padding: 25px 10px;
      text-align: center;
      word-wrap: break-word;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      transition: general.$transition;

      // for the new layout
      // padding: 10px 5px;

      &:hover {
        border: 1px solid colors.$primary;
      }

      &:active {
        transform: translateY(-5px);
      }
    }
  }
}

//just for testing

// .tableStatusId1 {
//   border: 1px solid greenyellow !important;

//   &::before {
//     content: "available";
//     color: greenyellow;
//   }
// }
// .tableStatusId2 {
//   border: 1px solid red !important;

//   &::before {
//     content: "occupied";
//     color: red;
//   }
// }

// .tableStatusId3 {
//   border: 1px solid blue !important;

//   &::before {
//     content: "reserved";
//     color: blue;
//   }
// }

// .tableStatusId4 {
//   border: 1px solid rgb(123, 123, 174) !important;

//   &::before {
//     content: "requested";
//     color: rgb(123, 123, 174);
//   }
// }

// toggle button

.togglebuttonContainer {
  color: colors.$fadetTextColor;
  font-size: 12px;
  padding: 10px;
}

.cB {
  display: none;
}
.container {
  cursor: pointer;
  transform: scale(1);
  padding: 20px;
}
.line-toggle {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 15px;
  // background: #ff6454;
  background: colors.$primary;
  border-radius: 20px;
}
.lineCircle-toggle {
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  background: #ffff;
  border-radius: 50%;
  top: -5px;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.25);
  transform: translateX(0px);
  border: 1px solid colors.$primary;
}

/***Adding tranisitons***/

.line-toggle,
.lineCircle-toggle {
  transition: 0.3s all cubic-bezier(0.215, 0.61, 0.355, 1);
}
input[type="checkbox"].cB:checked + .line-toggle {
  background: #ffe4b3;
}
input[type="checkbox"].cB:checked + .line-toggle .lineCircle-toggle {
  // background: #27ae60;
  background: colors.$primary;
  transform: translateX(30px);
  box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
